Nightowl_lab.json
[{"id":"b0b40bd5.2f3828","type":"mqtt in","z":"87d39f6d.fb587","name":"","topic":"smartclassroom/event/cardread","qos":"2","broker":"ad0823c0.400968","x":210,"y":220,"wires":[["a55fca60.99067"]]},{"id":"cde769d1.5fa2d8","type":"http request","z":"87d39f6d.fb587","name":"","method":"GET","ret":"obj","url":"","tls":"53929492.7fecec","x":630,"y":220,"wires":[["530b3a38.41c754"]]},{"id":"a55fca60.99067","type":"function","z":"87d39f6d.fb587","name":"","func":"msg.url=\"https://rfid.test.nightowl.foundationu.com/api/checkTag/Nightowl/\"+msg.payload+\"0000\";\nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":220,"wires":[["cde769d1.5fa2d8"]]},{"id":"530b3a38.41c754","type":"switch","z":"87d39f6d.fb587","name":"","property":"payload.access","propertyType":"msg","rules":[{"t":"eq","v":"granted","vt":"str"},{"t":"eq","v":"denied","vt":"str"}],"checkall":"true","outputs":2,"x":810,"y":220,"wires":[["37cf2040.f8e99","b6b08e55.289"],["7c19c9e.ff816b8"]]},{"id":"38012357.28e8a4","type":"mqtt out","z":"87d39f6d.fb587","name":"","topic":"smartclassroom/event/doorlock/unlock","qos":"","retain":"","broker":"ad0823c0.400968","x":1290,"y":220,"wires":[]},{"id":"37cf2040.f8e99","type":"template","z":"87d39f6d.fb587","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"1","output":"str","x":1010,"y":200,"wires":[["38012357.28e8a4"]]},{"id":"7c19c9e.ff816b8","type":"mqtt out","z":"87d39f6d.fb587","name":"","topic":"smartclassroom/event/doorlock/lock","qos":"","retain":"","broker":"ad0823c0.400968","x":1280,"y":300,"wires":[]},{"id":"745acd66.0874ec","type":"switch","z":"87d39f6d.fb587","name":"Button Switch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":980,"y":300,"wires":[["38012357.28e8a4"],["7c19c9e.ff816b8"]]},{"id":"46b5e4d5.ab881c","type":"ui_switch","z":"87d39f6d.fb587","name":"","label":"Unlock Door","group":"84095b1e.04bcb","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":300,"wires":[["745acd66.0874ec"]]},{"id":"f2d6e640.ece028","type":"ui_switch","z":"87d39f6d.fb587","name":"","label":"Aircon on/off","group":"ba9bc19c.26046","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":910,"y":440,"wires":[["6b439593.bb8844"]]},{"id":"6b439593.bb8844","type":"mqtt out","z":"87d39f6d.fb587","name":"","topic":"smartclassroom/event/aircon/on","qos":"","retain":"","broker":"ad0823c0.400968","x":1250,"y":440,"wires":[]},{"id":"5b34fb16.9debfc","type":"mqtt out","z":"87d39f6d.fb587","name":"","topic":"smartclassroom/event/lights/on","qos":"","retain":"","broker":"ad0823c0.400968","x":1250,"y":520,"wires":[]},{"id":"e4cfdcb1.59ae18","type":"ui_switch","z":"87d39f6d.fb587","name":"","label":"Lights on/off","group":"b685bc1f.e56198","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":910,"y":520,"wires":[["5b34fb16.9debfc"]]},{"id":"b6b08e55.289","type":"function","z":"87d39f6d.fb587","name":"","func":"msg.payload=true;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":480,"wires":[["f2d6e640.ece028","e4cfdcb1.59ae18"]]},{"id":"ad0823c0.400968","type":"mqtt-broker","z":"","broker":"10.7.1.1","port":"1883","tls":"b81b7f64.a24b18","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"53929492.7fecec","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"84095b1e.04bcb","type":"ui_group","z":"","name":"Door","tab":"254ffb31.5b957c","order":1,"disp":true,"width":"6"},{"id":"ba9bc19c.26046","type":"ui_group","z":"","name":"Aircon","tab":"254ffb31.5b957c","order":2,"disp":true,"width":"6"},{"id":"b685bc1f.e56198","type":"ui_group","z":"","name":"Lights","tab":"254ffb31.5b957c","disp":true,"width":"6"},{"id":"b81b7f64.a24b18","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"/etc/mosquitto/ca_certificates/m2mqtt_ca.crt","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"254ffb31.5b957c","type":"ui_tab","z":"","name":"NightOwl Lab","icon":"dashboard","order":2}]
